/* Import style.css */
@import url("style.css");

a {
  color: darkblue;
  text-decoration: underline solid 2px darkblue;
}

/* Reset <pre> and <code> styles */
pre,
code {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

h1,
h2,
h3 {
  color: #333;
}

.section {
  margin-bottom: 40px;
}
